<!doctype html>
<html lang="et">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="0;url=/et/" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>CORBETTI OÜ | Ehitus- ja renoveerimistööd</title>
		<meta
			name="description"
			content="CORBETTI OÜ teostab ehitus-, renoveerimis-, fassaadi-, betooni- ja siseviimistlustöid eraisikutele, äriklientidele ja korteriühistutele."
		/>
		<meta name="robots" content="index, follow" />
		<link rel="canonical" href="https://corbetti.ee/et/" />
	</head>
	<body>
		<p><a href="/et/">Open CORBETTI OÜ site</a></p>
	</body>
</html>
